* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
html, body {
    background-color: #fcffdf;
    height: 100vh;
}
h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;       
}
h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    padding-left: 16px;
}
a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}
ul {
    list-style: none;
}
button {
    padding: 0;
    width: 0;
    height: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
p {
    line-height: 22px;
    margin-bottom: 16px;
    @media (max-width: $mobile-max) {
        padding: 0 16px;
    }      
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-16 {
    margin-bottom: 16px;
}
.img-content {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px; 
    @media (max-width: $mobile-max) {
        border-radius: 0;
    }    
}
.price-list {
    margin-bottom: 18px; 
    @media (max-width: $mobile-max) {
        padding: 0 16px;
    }          
}
.dotted-list {
    list-style: disc;
    padding-left: 32px;
    li {
        line-height: 22px;
    }
}
.sub-tub {
    padding: 0 14px;
}
.text-center {
    text-align: center;
}
.arrow-up {
    display: block;
    background-image: url('~@/assets/img/svg/arrow_up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44px;
    width: 44px;
    height: 44px;
    align-self: center;
    margin: 0 auto;    
    margin-bottom: 24px; 
    cursor: pointer;    
}